html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hover:hover{
  cursor: pointer;
}

main {
  min-height:50vh;
  margin-top: 50px;
}

footer{
  margin-top:50px;
  background-color: var(--bs-gray-200);
  padding-top: 50px
}


footer ul {
  list-style: none;
  padding: 0;
}

footer a{
  color: black;
  text-decoration: none;
}